<head>
<link rel="stylesheet" type="text/css" href="css/5-1-14.css">
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<body>
  <div class='main'>

  <%# メニューボタン %>
  <div class="openbtn"><span></span><span></span><span></span></div>

  <nav id="g-nav">
  <div id="g-nav-list">
    <ul>
      <li><a href="#top">Top</a></li>
      <li><a href="#top">Top</a></li>
      <li><a href="#top">Top</a></li>
      <li><a href="#top">Top</a></li>
    </ul>
  </div>
  </nav>
  <%# /メニューボタン %>

  <%# /概要・案内 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <%= image_tag "title.png" %>
    </h2>
  </div>
  <%# /概要・案内 %>

  <%# ギャラリー表示 %>
  <ul class="gallery">
    <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.image %>
        <%= item.name%>
      <% end %>
    <% end %>
  </ul>
  <%# /ギャラリー表示 %>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="js/5-1-14.js"></script>
</body>