a {
  text-decoration: none;
}

.main {
  background-color: rgb(241, 239, 239);
  font-family: serif;
}

/* スライドショー */

#slider {
  width: 100%;
  height: 100vh;
  position: relative
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

/* //スライドショー */

/* メニュー */

.openbtn{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left : 14px;
  height: 3px;
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
  width: 45%;
}

.openbtn span:nth-of-type(1){
  top: 15px;
}

.openbtn span:nth-of-type(2){
  top: 23px;
}

.openbtn span:nth-of-type(3){
  top: 31px;
}

.openbtn.active span:nth-of-type(1){
  top: 18px;
  left: 18px;
  transform: translateY(6px) 
  rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2){
  opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) 
  rotate(45deg);
  width: 30%;
}

#g-nav.panelactive #g-nav-list{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav{
  position:fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  opacity    : .6;
  background : linear-gradient(124deg, 
                               red,
                               orange,
                               yellow,
                               green,
                               aqua,
                               blue,
                               purple);
  transition: all 0.6s;
}

#g-nav.panelactive{
  right: 0;
}

.menu-contents{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}

.menu-content{
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  color:rgb(250, 249, 249)
}

/* //メニュー */

.guide{
  text-align: center;
  margin: 20px;
  font-weight: bold;
  color: black;
}

/* ギャラリー表示 */

.gallery{
  columns: 4;
  padding: 0 15px;
  margin: 0;
}

.gallery li{
  margin-bottom: 0px;
  list-style: none;
}

.gallery img{
  width: 100%;
  height: auto;
  box-shadow: 3px rgba(0, 0, 0, 0.3)
}

@media only screen and (max-width: 900px) {
  .gallery{
    columns: 3;
  }
}

@media only screen and (max-width: 768px) {
  .gallery{
    columns: 2;
  }
}

.item-image{
  margin-bottom: 5px;
  box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, .5);
}

.item-name{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  margin-bottom: 10px;
}

/* //ギャラリー表示 */